<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Selection Category"
            id="selectionPlugin">
      </category>
      <view
            name="Method Defragmenter"
            icon="icons/defrag_icon.gif"
            category="selectionPlugin"
            class="kar.method.defragmenter.views.SelectionView"
            id="selectionplugin.views.SelectionView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="selectionplugin.views.SelectionView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
	<extension point="org.eclipse.core.resources.markers" id="kar.method.defragmenter.marker">
		<super type="org.eclipse.core.resources.textmarker"/>
		/>
	</extension>
	
	<extension point="org.eclipse.ui.editors.markerAnnotationSpecification"
		id="MethodDefragmenterAnnotationSpecification" name="CodeAnnotation">
		<specification
        annotationType="annotationColor_1"
        colorPreferenceKey="clcolor1"
        colorPreferenceValue="239,154,154"
        highlightPreferenceKey="clhighlight1"
        highlightPreferenceValue="true"
        includeOnPreferencePage="true"
        label="CodeAnnotation1"
        overviewRulerPreferenceKey="clruler"
        overviewRulerPreferenceValue="true"
        textPreferenceKey="cltext"
        textPreferenceValue="true"
        textStylePreferenceKey="clstyle"
        textStylePreferenceValue="BOX"
        verticalRulerPreferenceKey="clvertical"
        verticalRulerPreferenceValue="true">
		</specification>
  <specification
        annotationType="annotationColor_2"
        colorPreferenceKey="clcolor2"
        colorPreferenceValue="244,143,177"
        highlightPreferenceKey="clhighlight2"
        highlightPreferenceValue="true"
        includeOnPreferencePage="true"
        label="CodeAnnotation2"
        overviewRulerPreferenceKey="clruler"
        overviewRulerPreferenceValue="true"
        textPreferenceKey="cltext"
        textPreferenceValue="true"
        textStylePreferenceKey="clstyle"
        textStylePreferenceValue="BOX"
        verticalRulerPreferenceKey="clvertical"
        verticalRulerPreferenceValue="true">
  </specification>
  <specification
        annotationType="annotationColor_3"
        colorPreferenceKey="clcolor3"
        colorPreferenceValue="206,147,216"
        highlightPreferenceKey="clhighlight3"
        highlightPreferenceValue="true"
        includeOnPreferencePage="true"
        label="CodeAnnotation3"
        overviewRulerPreferenceKey="clruler"
        overviewRulerPreferenceValue="true"
        textPreferenceKey="cltext"
        textPreferenceValue="true"
        textStylePreferenceKey="clstyle"
        textStylePreferenceValue="BOX"
        verticalRulerPreferenceKey="clvertical"
        verticalRulerPreferenceValue="true">
  </specification>
  <specification
        annotationType="annotationColor_4"
        colorPreferenceKey="clcolor4"
        colorPreferenceValue="179,157,219"
        highlightPreferenceKey="clhighlight4"
        highlightPreferenceValue="true"
        includeOnPreferencePage="true"
        label="CodeAnnotation4"
        overviewRulerPreferenceKey="clruler"
        overviewRulerPreferenceValue="true"
        textPreferenceKey="cltext"
        textPreferenceValue="true"
        textStylePreferenceKey="clstyle"
        textStylePreferenceValue="BOX"
        verticalRulerPreferenceKey="clvertical"
        verticalRulerPreferenceValue="true">
  </specification>
  <specification
        annotationType="annotationColor_5"
        colorPreferenceKey="clcolor5"
        colorPreferenceValue="159,168,218"
        highlightPreferenceKey="clhighlight5"
        highlightPreferenceValue="true"
        includeOnPreferencePage="true"
        label="CodeAnnotation5"
        overviewRulerPreferenceKey="clruler"
        overviewRulerPreferenceValue="true"
        textPreferenceKey="cltext"
        textPreferenceValue="true"
        textStylePreferenceKey="clstyle"
        textStylePreferenceValue="BOX"
        verticalRulerPreferenceKey="clvertical"
        verticalRulerPreferenceValue="true">
  </specification>
  <specification
        annotationType="annotationColor_6"
        colorPreferenceKey="clcolor6"
        colorPreferenceValue="144,202,249"
        highlightPreferenceKey="clhighlight6"
        highlightPreferenceValue="true"
        includeOnPreferencePage="true"
        label="CodeAnnotation6"
        overviewRulerPreferenceKey="clruler"
        overviewRulerPreferenceValue="true"
        textPreferenceKey="cltext"
        textPreferenceValue="true"
        textStylePreferenceKey="clstyle"
        textStylePreferenceValue="BOX"
        verticalRulerPreferenceKey="clvertical"
        verticalRulerPreferenceValue="true">
  </specification>
  <specification
        annotationType="annotationColor_7"
        colorPreferenceKey="clcolor7"
        colorPreferenceValue="129,212,250"
        highlightPreferenceKey="clhighlight7"
        highlightPreferenceValue="true"
        includeOnPreferencePage="true"
        label="CodeAnnotation7"
        overviewRulerPreferenceKey="clruler"
        overviewRulerPreferenceValue="true"
        textPreferenceKey="cltext"
        textPreferenceValue="true"
        textStylePreferenceKey="clstyle"
        textStylePreferenceValue="BOX"
        verticalRulerPreferenceKey="clvertical"
        verticalRulerPreferenceValue="true">
  </specification>
  <specification
        annotationType="annotationColor_8"
        colorPreferenceKey="clcolor8"
        colorPreferenceValue="128,222,234"
        highlightPreferenceKey="clhighlight8"
        highlightPreferenceValue="true"
        includeOnPreferencePage="true"
        label="CodeAnnotation8"
        overviewRulerPreferenceKey="clruler"
        overviewRulerPreferenceValue="true"
        textPreferenceKey="cltext"
        textPreferenceValue="true"
        textStylePreferenceKey="clstyle"
        textStylePreferenceValue="BOX"
        verticalRulerPreferenceKey="clvertical"
        verticalRulerPreferenceValue="true">
  </specification>
  <specification
        annotationType="annotationColor_9"
        colorPreferenceKey="clcolor9"
        colorPreferenceValue="128,203,196"
        highlightPreferenceKey="clhighlight9"
        highlightPreferenceValue="true"
        includeOnPreferencePage="true"
        label="CodeAnnotation9"
        overviewRulerPreferenceKey="clruler"
        overviewRulerPreferenceValue="true"
        textPreferenceKey="cltext"
        textPreferenceValue="true"
        textStylePreferenceKey="clstyle"
        textStylePreferenceValue="BOX"
        verticalRulerPreferenceKey="clvertical"
        verticalRulerPreferenceValue="true">
  </specification>
  <specification
        annotationType="annotationColor_10"
        colorPreferenceKey="clcolor10"
        colorPreferenceValue="165,214,167"
        highlightPreferenceKey="clhighlight10"
        highlightPreferenceValue="true"
        includeOnPreferencePage="true"
        label="CodeAnnotation10"
        overviewRulerPreferenceKey="clruler"
        overviewRulerPreferenceValue="true"
        textPreferenceKey="cltext"
        textPreferenceValue="true"
        textStylePreferenceKey="clstyle"
        textStylePreferenceValue="BOX"
        verticalRulerPreferenceKey="clvertical"
        verticalRulerPreferenceValue="true">
  </specification>
  <specification
        annotationType="annotationColor_11"
        colorPreferenceKey="clcolor11"
        colorPreferenceValue="197,225,165"
        highlightPreferenceKey="clhighlight11"
        highlightPreferenceValue="true"
        includeOnPreferencePage="true"
        label="CodeAnnotation11"
        overviewRulerPreferenceKey="clruler"
        overviewRulerPreferenceValue="true"
        textPreferenceKey="cltext"
        textPreferenceValue="true"
        textStylePreferenceKey="clstyle"
        textStylePreferenceValue="BOX"
        verticalRulerPreferenceKey="clvertical"
        verticalRulerPreferenceValue="true">
  </specification>
  <specification
        annotationType="annotationColor_12"
        colorPreferenceKey="clcolor12"
        colorPreferenceValue="230,238,156"
        highlightPreferenceKey="clhighlight12"
        highlightPreferenceValue="true"
        includeOnPreferencePage="true"
        label="CodeAnnotation12"
        overviewRulerPreferenceKey="clruler"
        overviewRulerPreferenceValue="true"
        textPreferenceKey="cltext"
        textPreferenceValue="true"
        textStylePreferenceKey="clstyle"
        textStylePreferenceValue="BOX"
        verticalRulerPreferenceKey="clvertical"
        verticalRulerPreferenceValue="true">
  </specification>
  <specification
        annotationType="annotationColor_13"
        colorPreferenceKey="clcolor13"
        colorPreferenceValue="255,245,157"
        highlightPreferenceKey="clhighlight13"
        highlightPreferenceValue="true"
        includeOnPreferencePage="true"
        label="CodeAnnotation13"
        overviewRulerPreferenceKey="clruler"
        overviewRulerPreferenceValue="true"
        textPreferenceKey="cltext"
        textPreferenceValue="true"
        textStylePreferenceKey="clstyle"
        textStylePreferenceValue="BOX"
        verticalRulerPreferenceKey="clvertical"
        verticalRulerPreferenceValue="true">
  </specification>
  <specification
        annotationType="annotationColor_15"
        colorPreferenceKey="clcolor15"
        colorPreferenceValue="255,204,128"
        highlightPreferenceKey="clhighlight15"
        highlightPreferenceValue="true"
        includeOnPreferencePage="true"
        label="CodeAnnotation15"
        overviewRulerPreferenceKey="clruler"
        overviewRulerPreferenceValue="true"
        textPreferenceKey="cltext"
        textPreferenceValue="true"
        textStylePreferenceKey="clstyle"
        textStylePreferenceValue="BOX"
        verticalRulerPreferenceKey="clvertical"
        verticalRulerPreferenceValue="true">
  </specification>
  <specification
        annotationType="annotationColor_14"
        colorPreferenceKey="clcolor14"
        colorPreferenceValue="255,224,130"
        highlightPreferenceKey="clhighlight14"
        highlightPreferenceValue="true"
        includeOnPreferencePage="true"
        label="CodeAnnotation14"
        overviewRulerPreferenceKey="clruler"
        overviewRulerPreferenceValue="true"
        textPreferenceKey="cltext"
        textPreferenceValue="true"
        textStylePreferenceKey="clstyle"
        textStylePreferenceValue="BOX"
        verticalRulerPreferenceKey="clvertical"
        verticalRulerPreferenceValue="true">
  </specification>
  <specification
        annotationType="annotationColor_16"
        colorPreferenceKey="clcolor16"
        colorPreferenceValue="255,171,145"
        highlightPreferenceKey="clhighlight16"
        highlightPreferenceValue="true"
        includeOnPreferencePage="true"
        label="CodeAnnotation16"
        overviewRulerPreferenceKey="clruler"
        overviewRulerPreferenceValue="true"
        textPreferenceKey="cltext"
        textPreferenceValue="true"
        textStylePreferenceKey="clstyle"
        textStylePreferenceValue="BOX"
        verticalRulerPreferenceKey="clvertical"
        verticalRulerPreferenceValue="true">
  </specification>
  <specification
        annotationType="annotationColor_17"
        colorPreferenceKey="clcolor17"
        colorPreferenceValue="188,170,164"
        highlightPreferenceKey="clhighlight17"
        highlightPreferenceValue="true"
        includeOnPreferencePage="true"
        label="CodeAnnotation17"
        overviewRulerPreferenceKey="clruler"
        overviewRulerPreferenceValue="true"
        textPreferenceKey="cltext"
        textPreferenceValue="true"
        textStylePreferenceKey="clstyle"
        textStylePreferenceValue="BOX"
        verticalRulerPreferenceKey="clvertical"
        verticalRulerPreferenceValue="true">
  </specification>
  <specification
        annotationType="annotationColor_0"
        colorPreferenceKey="clcolor0"
        colorPreferenceValue="105,240,174"
        highlightPreferenceKey="clhighlight0"
        highlightPreferenceValue="true"
        includeOnPreferencePage="true"
        label="CodeAnnotation0"
        overviewRulerPreferenceKey="clruler"
        overviewRulerPreferenceValue="true"
        textPreferenceKey="cltext"
        textPreferenceValue="true"
        textStylePreferenceKey="clstyle"
        textStylePreferenceValue="BOX"
        verticalRulerPreferenceKey="clvertical"
        verticalRulerPreferenceValue="true">
  </specification>
	</extension>
	
	<extension point="org.eclipse.ui.editors.annotationTypes">
   		 <type markerSeverity="0"
          name="kar.method.defragmenter.annotation" 
          markerType="kar.method.defragmenter.marker"/>
	</extension>
</plugin>
